# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 10
print(number)

10

##### Assinging float

In [2]:
number = 12.5
print(number)

12.5

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1= 5
num2 = 12.5
result = num1 + num2
print(result)

17.5

##### Subtraction

In [4]:
result = num2 - num1
print(result)

7.5

##### Multiplication

In [6]:
num1 
print(num1 * 5)

25

##### Division

In [7]:
num1 = 50
print(num1 / 2)

25.0

##### Floor Division

In [12]:
num1 = 10.5
num2 = 12.3
result = num2 // num1
print(result)

1.0

##### Modulo

In [13]:
result_mod = num2 % num1
print(result_mod)

1.8000000000000007

##### Exponential

In [17]:
number = 5
exponent = number ** 3
print(exponent)

125

### String Input-Output

##### String Assignment

In [23]:
name = "Andrew"
print(name)

Andrew

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print("This is my first name:",name)

print("full Name:",name, end= " sterling")

This is my first name: Andrew
full Name: Andrew sterling

##### String Concatenation

In [27]:
first_name = "Andrew"
last_name ="Sterling"
print("hello " + first_name, last_name + " How are you?")

hello Andrew Sterling How are you?

##### Type Conversion

In [30]:
age = "15"
print(int(age) + 5)

20

##### input()

In [34]:
#input will always return a string

name =  input("What is your name ? ")
print("nice to meet you, " + name)

What is your name ? Andrew
nice to meet you, Andrew

##### format()

In [37]:
age =  input("what is your age ?")

result = (f"your are {age} years old")
print(result)

what is your age ?33
your are 33 years old

##### Old Way (python 2)

In [38]:
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

you are 33 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [8]:
color = input("what is the color?")
year = int(input("what is the year?"))
make =  input("what is the make?")
model = input("what is the model?")
print(color,year,make,model)

what is the color?red
what is the year?2023
what is the make?lexus
what is the model?is500
red 2023 lexus is500

### If Statements

In [9]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 7
if num1 == 7:
    print("Its true")    
else:
    print("its false")

Its true

##### 'is' keyword

In [10]:
num3 = 55

if num3 is 55:
    print("This is the exact number")

This is the exact number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/t9/5_09pddj2n36h2v1mt33t7th0000gn/T/ipykernel_2700/1210800623.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [11]:
#Check if a character is in a string

char_name = "frodo Baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [12]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [15]:
name = input("what is your name?")

if "p" in name:
    print("letter 'p' is in the name")
else:
    print("letter 'p' is not in the name")

what is your name?andrew
letter 'p' is not in the name

## Using 'and'/'or' with If Statements

In [18]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statement
if num_11 / 5 == num_12 and num_13- 7 == num_14:
    print("True and True")

#if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("true and false")

True and True
true and false

### Elif Statements

In [25]:
first_name  = input("whats is your name?")

if first_name  == "Smith":
    print("the name is Smith")  
elif first_name == "Brandon":
    print("first name is Brandon")
else:
    print("The name is Max")

whats is your name?Appke
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [29]:
#syntax
#for counter in keyword conditions

name  = "Andrew Sterling"

for letter in name:
    print(letter)

A
n
d
r
e
w

S
t
e
r
l
i
n
g

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
for i in name:
    pass

##### Double For Loops

In [35]:
#for i in range(5):
   # for j in range(5):
      #  print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [36]:
#syntax
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [39]:
game_over  = True

while True:
    print("infinite Loop")
    break
    if game_over == False:
        break

infinite Loop

##### While & For Loops Used Together

In [40]:
num = 0

while num < 5:
    print("\n while loop iteration: " + str(num))
    
    for i  in range(2):
        print("for loop iteration: ", str(i) )
    
    num += 1

 while loop iteration: 0
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 1
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 2
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 3
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [43]:
#range(Start, stop, step)
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

##### len()

In [42]:
fruit =  "apple"
print(len(fruit))

5

##### help()

In [45]:
#use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [47]:
#check a variable to find out what object family (or data type) it belongs to
#isinstance(var, type)

if isinstance(4.5, float):
    print("This number is a float type")

This number is a float type

##### abs()

In [48]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [51]:
#  use this log out graceful and useful error messages
# does not stop the program.

try:
    number_test = 0
    input_num = int(input("guess a number "))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print("Your number is:" + str(input_num))
        
except:
    print("That didnt work: Change your input to a number")

guess a number 10

### Lists

##### Declaring Lists

In [52]:
list_1 = []

names = ["Max", "Cindy","jacob", "bob", "Neto"]
print(names)

['Max', 'Cindy', 'jacob', 'bob', 'Neto']

##### Indexing a List

In [55]:
# [start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 and going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'jacob', 'bob', 'Neto']
['Max', 'Cindy']
['Cindy', 'bob']
['Neto', 'bob', 'jacob', 'Cindy', 'Max']

##### .append()

In [57]:
names.append("brandon")
print(names)

['Max', 'Cindy', 'jacob', 'bob', 'Neto', 'brandon']

##### .insert()

In [58]:
names.insert(3, "Steve")
print(names)

['Max', 'Cindy', 'jacob', 'Steve', 'bob', 'Neto', 'brandon']

##### .pop()

In [59]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

jacob
['Max', 'Cindy', 'Steve', 'bob', 'Neto', 'brandon']


##### .remove()

In [61]:
# Value to be removed rather than index
#removes multiple bob's
names.remove("bob")
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [62]:
# Goes by index rather than values
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Steve', 'Neto', 'brandon']

##### Concatenating Two Lists

In [66]:
# This will append two lists together, will NOT add the values

List_2 = [0, 1, 2]
List_3 = [3, 4, 5]
print(List_2 + List_3)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nesting lists

names = ["Max", "sam", "Josh", ["Sally", "sue", "Tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [69]:
#two ways to loop through list! One is by index; the other is by using the "in " keyword

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with "in"
for name in names:
    print(name)

Max
sam
Josh
['Sally', 'sue', 'Tameka']
Max
sam
Josh
['Sally', 'sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [100]:
Num = []

for i in range(11):
    Num.append(i**3)
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [101]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [109]:
age = int(input("how old are you? "))

if age <= 17:
    print("kids")
elif age <= 65 :
    print("Adults")
else:
    print("Seniors")

how old are you? 66
Seniors